@import "_variables.scss";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $sub;
}
.search-header {
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}
.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.search-header-link:hover {
  text-decoration: underline;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 2rem auto;
}
#search-area {
  width: 40vw;
  height: 4vh;
  font-size: 2rem;
  margin: 2rem;
}
.submit-button {
  font-size: 1rem;
}
