$colors: (
  background: #c0c0c0,
  header-text: #fff,
  main-text: #000,
);

$small: 360px;
$phone: 600px;
$tablet: 900px;
$laptop: 1100px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$header: "Open Sans", sans-serif;
$sub: "Mulish", sans-serif;
