@import "_songwindow.scss";
@import "_search.scss";
@import "_variables.scss";
@import "mixins.scss";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $sub;
  overflow: hidden;
}

.desktop-theme {
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapercave.com/wp/wp4617196.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
