@import "_variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  align-items: center;
  color: aliceblue;
  overflow: hidden;
}

.desktop-theme {
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapercave.com/wp/wp4617196.jpg); //might use a differnt pic??
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.window-screen {
  height: 90vh;
  padding: 2vh 3vw 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.taskbar {
  position: relative;
  background: chartreuse;
}
